<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<title>a_</title>

<div class="bg margined-div">
<h1 class="bold roboto-bold">a_'s Website</h1>
</div>
<div class="bg margined-div">
	<h1 class="bold-left roboto-bold">About Me</h1>
	<h2 class="regular-left roboto-regular">Hi, I’m Brendan Bortz. Online, I go by the alias a_, or aunderscore. I have worked in Rust, Java, Python, C#, and Haskell. This website is written in Python with the Flask framework, and is my first attempt at designing my own pages. I am a game developer, and work on games using Godot, but have also made games using Hex, my 2D renderer that is written with Rust  that uses Vulkan. I am a student at UNC Charlotte, with a major in computer science. As of writing this, I am currently in my sophomore year.</h2>
</div>
	<div class="bg margined-div">
		<h1 class="bold-left roboto-bold">My Projects</h1>
		<h2 class="scroll-div regular-left roboto-regular">
  			{% if data %}
  			{% for (s, n, u) in data %}
			<div>
				<h2 class="bold-left roboto-bold">{{n}} ⭐x{{s}}</h1>
				<a class="regular-left roboto-regular" href={{u}}>{{u}}</a>
			</div>
  			{% endfor %}
  			{% endif %}
		</h2>
	</div>
	</div>
	<div class="bg margined-div">
	<h1 class="bold-left roboto-bold">Links</h1>
			<a class="regular-left roboto-regular" href="https://github.com/a-underscore">GitHub</a>
	</h2>
	</div>

{% endblock content %}
