h1 {
	background-color: #CBD4C2;
	color: #50514F;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 5px;
}

body {
	background-image: url("'/static/img/home.png'");
}
